{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

    {% block content %}
        <div class="container" >
			<div class="row " style="padding-right: 30%; margin-top: 44px; ">
                <div class="col-md-8 " >
                <form method="POST" enctype="multipart/form-data">
                    <!--enctype = No characters are encoded. This value is required when you are using forms that have a file upload contro -->
                    {% csrf_token %}
					<h3>إنشاء مقاله</h3>
                    <div class="section-row">
                            <div class="row " >
                                <div class="col-md-12" >
                                        <!-- Custom Fields to comment with Crispy Forms -->
                                        {{ form.title|as_crispy_field }} 
                                </div>
                                <div class="col-md-12 ">
                                    <div >
                                        <!-- Custom Fields to comment with Crispy Forms -->
                                        {{ form.short_description|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                        <!-- Custom Fields to comment with Crispy Forms -->
                                        {{ form.description|as_crispy_field }}
                                </div>
                                <div class="col-md-12">
                                    <span > اختار صوره المقاله*</span>
                                    <br>
                                    <label for="image" class="btn btn-success">اضافه صوره</label>
                                    <input type="file" name="image" id="image" accept="image/*" style="display: none;">
                                    <br>
                                    <br>
                                </div>
                            </div>
                        <input type="submit" class="primary-button" value="نشر">
                    </div>
					</div>
                </form>
            </div>
            </div>
		</div>
    {% endblock content %}

    