
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}



		{% block content %}
		<!-- section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Post content -->
					<div class="col-md-8">
						<div class="section-row sticky-container">
							<div class="main-post">
								<h3>{{post_detail.title}}</h3>
								<p>{{post_detail.description}}</p>
								<figure class="figure-img">
									{% if post_detail.image %}
										<img class="img-responsive" src="{{post_detail.image.url}}" alt="">
									{% endif %}
									<figcaption>{{post_detail.short_description}}</figcaption>
								</figure>
								<p>شرح المحتوى بالتفصيل :</p>
								<blockquote class="blockquote">
									{{post_detail.description}}
								</blockquote>
								<p>{{post_detail.description}}</p>
							</div>
							<div class="post-shares sticky-shares">
								<a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="share-google-plus"><i class="fa fa-google-plus"></i></a>
								<a href="#" class="share-pinterest"><i class="fa fa-pinterest"></i></a>
								<a href="#" class="share-linkedin"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-envelope"></i></a>
							</div>
						</div>

						<!-- ad -->
						<div class="section-row text-center">
							<a href="#" style="display: inline-block;margin: auto;">
								<img class="img-responsive" src="{% static 'blog/img/ad-2.jpg'%}" alt="">
							</a>
						</div>
						<!-- ad -->
						
						<!-- author -->
						<div class="section-row">
							<div class="post-author">
								<div class="media">
									<div class="media-left">
										<img class="media-object" width="70"  src="{{post_detail.author.profile.image.url}}" alt="الصوره الشخصيه للكاتب">
									</div>
									<div class="media-body">
										<div class="media-heading">
											<h3>{{post_detail.author.profile.user.first_name}} {{post_detail.author.profile.user.last_name}}</h3>
										</div>
										<p>{{post_detail.author.profile.who_i}}</p>
										<ul class="author-social">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- /author -->

						<!-- comments -->
						<div class="section-row">
							<div class="section-title">
								<h2 style="color: brown;">التعليقات ( {{comments.count}} )</h2>
							</div>

							<div class="post-comments" >
								{% for comment in comments %}
								<!-- comment -->
								<div class="media">
									<div class="media-left">
										<img class="media-object" src="{% static 'blog/img/avatar.png'%}" alt="">
									</div>
									<div class="media-body " >
										<div class="media-heading">
											<h4>{{comment.name}}</h4>
											<span class="time">تم التعليق في {{comment.comment_date|date:'d-m-Y'}}</span>
										</div>
										<p>{{comment.comment}}</p>
										<a href="#" class="reply">الردود ..</a>

										<!-- comment -->
										<div class="media">
											<div class="media-left">
												<img class="media-object" src="{% static 'blog/img/avatar.png'%}" alt="">
											</div>
											<div class="media-body">
												<div class="media-heading">
													<h4>محمود عبد الرؤف صبره</h4>
													<span class="time">March 27, 2018 at 8:00 am</span>
													<a href="#" class="reply">Reply</a>
												</div>
												<p>شكرا جدا واتمنى ان تتصفح باقي المواقع .....</p>
											</div>
										</div>
										<!-- /comment -->
									</div>
								</div>
								<!-- /comment -->
								{% empty %}
								<div class="media-heading">
									<h4>لا يوجد تعليقات حتى الأن ..</h4>
								</div>
								{% endfor %}
							</div>
						</div>
						<!-- /comments -->

						<form method="POST">
							{% csrf_token %}
							<!-- reply -->
							<div class="section-row">
								<div class="section-title">
									<h2 style="color: brown;">أترك تعليق هنا  ^_^ </h2>
									<p>الايميل الخاص بك لن يتم اظهاره!</p>
								</div>
								<form class="post-reply">
									<div class="row">
										<div class="col-md-4">
											<div class="form-group"> 
												<!-- Custom Fields to comment with Crispy Forms -->
												{{ forms_comment.name|as_crispy_field }} 
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<!-- Custom Fields to comment with Crispy Forms -->
												{{ forms_comment.email|as_crispy_field }}
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<!-- Custom Fields to comment with Crispy Forms -->
												{{ forms_comment.site|as_crispy_field }}
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<!-- Custom Fields to comment with Crispy Forms -->
												{{ forms_comment.comment|as_crispy_field }}
											</div>
											<input type="submit" class="primary-button" value="نشر التعليق">
										</div>
									</div>
								</form>
							</div>
							<!-- /reply -->
						</form>

					</div>
					<!-- /Post content -->
					  
						<!-- Fixed post widget -->
					<div class="row">
						<div class="section-title">
							<h2>أحدث المقالات</h2>
						</div>
						{% for post in posts %}
						<div class="col-lg-3">
							<div class="all-post-blog">
								<div class="post post-thumb">
									{% if post.image %}								
									<a class="post-img" href="blog-post.html"><img src="{{post.image.url}}" alt="" ></a>
									{% endif %}									<div class="post-body">
										<div class="post-meta">
										</div>
										<h3 class="title"><a class="a-title" href="blog-post.html">{{post.title}}</a></h3>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
						<!-- /Fixed post widget -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /section -->
	{% endblock content %}
