
{% extends "base.html" %}
{% load static %}
{% block content %}
{% if messages %}
<!-- For appear message automatically when user created account in our blog -->
	 {% for message in messages %} 
	   <div class="alert alert-{{message.tags}}">
			{{message}}
	   </div>
	 {% endfor %}
{% endif %}
		<!-- section -->
		<div class="section " >
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">	
					{% for post in posts %}
					<!-- post -->
					<div class="col-md-6 ">
						<!-- Button of editing -->
						<div class="post post-thumb" >
							{% if post.image %}								
								<a class="post-img" href="blog-post.html"><img src="{{post.image.url}}" alt="" style="width: 540spx; height: 333px;"></a>
							{% endif %}

							<div class="post-body">
								<!-- Button of editing -->
								<!-- This option for user to update blogs he created not another blogs -->
								{% if post.author == user %}
								<div class="form-group btn-editing" style="float: left ;margin-bottom: 17rem;">
									<a class="btn btn-success" href="{% url 'blog:update_post' post.slug %}">تعديل</a>
									<a class="btn btn-danger" href="{% url 'blog:delete_post' post.slug %}">حذف</a>

								</div>
								{% endif %}
								<img class="img-circle border mb-3" width="70" height="70"
								src="{{post.author.profile.image.url}}" style="margin-bottom: -11rem; margin-right: 45rem;">
								<div class="post-meta">
									<a class="post-category cat-2" href="{% url 'blog:detail' post.slug %}">{{post.title}}</a>
									<span class="post-date">تم النشر فى {{post.created_in|date:'d-m-Y'}}</span>
								</div>
								<h3 class="post-title"><a  href="{% url 'blog:detail' post.slug %}">{{post.short_description}}</aclass="text-white bg-dark"></h3>
							</div>
						</div>
					</div>
					{% endfor %}


					{% if posts.has_other_pages %}
					<!-- Pagination -->
					<div class="contain-pagination">
						<ul class="pagination" style="margin-right: 48rem; ">
							
							{% if posts.has_previous %}
							<li><a href="?page={{posts.previous_page_number}}">السابق</a></li>
							{% else %}
							<li class="disabled"><a href="#">السابق</a></li>
							{% endif %}

							{% for pages in posts.paginator.page_range %}
								{% if posts.number == pages %}
									<li class="active"><a >{{pages}}</a>
										{% else %}
										<li ><a href="?page={{pages}}">{{pages}}</a></li>
								{% endif %}
							{% endfor %}

							{% if posts.has_next %}
								<li>
								<a href="?page={{posts.next_page_number}}" >التالى</a>
								{% else %}
								<li class="disabled"><a href="#">التالى</a></li>
								</li>
							{% endif %}
						</ul>
					</div>
					<!-- /Pagination -->
					{% endif %}
				</div>
				</div>
					<!-- /post -->

		<!-- /section -->
		<!-- section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<div class="section-title">
									<h2>Most Read</h2>
								</div>
							</div>
							<!-- post -->
							<div class="col-md-12">
								<div class="post post-row">
									<a class="post-img" href="blog-post.html"><img src="{% static 'blog/img/post-4.jpg'%}" alt=""></a>
									<div class="post-body">
										<div class="post-meta">
											<a class="post-category cat-2" href="#">JavaScript</a>
											<span class="post-date">March 27, 2018</span>
										</div>
										<h3 class="post-title"><a href="blog-post.html">Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
									</div>
								</div>
							</div>
							<!-- /post -->

							
							<div class="col-md-12">
								<div class="section-row">
									<button class="primary-button center-block">Load More</button>
								</div>
							</div>
						</div>
					</div>

			{% endblock content %}
