{% extends "base.html" %}
{% load static %}

{% if title %}
    <title>{{title}}</title>
{% endif %}
    
{% block content %}
{% if messages %}
<!-- For appear message automatically when user created account in our blog -->
	 {% for message in messages %} 
	   <div class="alert alert-{{message.tags}}">
			{{message}}
	   </div>
	 {% endfor %}
{% endif %}
			<!-- Page Header -->
			<div class="page-header" style="padding-top: 10px; padding-bottom: 10px;">
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<ul class="page-header-breadcrumb">
								<li><a href="index.html">الصفحه الرئيسيه</a></li>
								<li>من انا</li>
							</ul>
							<h1>تعرف على الكاتب</h1>
						</div>
					</div>
				</div>
			</div>
			<!-- /Page Header -->
		</header>
		<!-- /Header -->
		<!-- section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-8">
						<div class="section-row text-center">
							{% if user.profile.image %}
							<img class="img-circle border mb-3" width="304" height="236" 
							src="{{user.profile.image.url}}" style="margin-bottom: 16px;">
							{% else %}
							<img class="img-circle border mb-3" width="304" height="236" 
							src="{% static 'blog/img/author.png'%}" style="margin-bottom: 16px;">
							{% endif %}
							<br>
							<a href="{% url 'user:update_profile' %}">
								<input type="submit" class="primary-button" value="تعديل">
							</a>
							<br>
							<br>

							<h3 class="">اسم الكاتب : <span>{{user.first_name}} {{user.last_name}}</span></h3>
							<h4>الايميل الخاص بالكاتب : {{user.email}}</h4>
							<h4>العنوان الخاص به : {{user.profile.country}} {{user.profile.address}}</h4>
							<h4>السيره الذاتيه :</h4>
							<h4  style="width :53rem; margin-right: 10rem;"><p>{{user.profile.who_i}}</p></h4>
							<h3 >عدد المقالات : <span class="text-danger">( {{user_count_posts.count}} )</span></h3>

						</div>
						<div class="row section-row">
							<div class="col-md-6">
								<figure class="figure-img">
									<img class="img-responsive" src="{% static 'blog/img/about-2.jpg'%}" >
								</figure>
							</div>
							<div class="col-md-6">
								<h3>Our Mission</h3>
								<p>Id usu mutat debet tempor, fugit omnesque posidonium nec ei. An assum labitur ocurreret qui, eam aliquid ornatus tibique ut.</p>
								<ul class="list-style">
									<li><p>Vix mollis admodum ei, vis legimus voluptatum ut.</p></li>
									<li><p>Cu cum alia vide malis. Vel aliquid facilis adolescens.</p></li>
									<li><p>Laudem rationibus vim id. Te per illum ornatus.</p></li>
								</ul>
							</div>
						</div>
					</div>
					
					<!-- aside -->
					<div class="col-md-4">
						<!-- ad -->
						<div class="aside-widget text-center">
							<a href="#" style="display: inline-block;margin: auto;">
								<img class="img-responsive" src="{% static 'blog/img/ad-1.jpg'%}" alt="">
							</a>
						</div>
						<!-- /ad -->

						<!-- post widget -->
						
						<div class="aside-widget">
							<div class="section-title">
								<h2 class="text-danger">مقالاتى ^_^</h2>
							</div>
							<!-- to appear every post created by user -->
							{% for post in user_count_posts %}
							<div class="post post-widget">
								{% if post.image %}
								<a class="post-img" href="blog-post.html"><img src="{{post.image.url}}" alt=""></a>
								{% endif %}
								<div class="post-body">
									<h3 class="post-title"><a href="blog-post.html">{{post.title}}</a></h3>
									<h3 class="post-title"><a href="blog-post.html">{{post.short_description}}</a></h3>
								</div>
							</div>
							{% endfor %}



						</div>
						<!-- /post widget -->
					</div>
					<!-- /aside -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /section -->

{% endblock %}